$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* common */
html,body{
    height: 100%;
}
.ng-scope {
    height: 100%;
}

/* sidebar */
#sidebar {
    float: left;
    width: 400px;
    padding: 10px;
    border: 1px solid #CCC;
    position: fixed;
    background-color: #E8E7E7;
}
#sidebar-blind {
    position:absolute;
    z-index:1;
    top: 0px;
    padding: 10px;
    background-color: rgba(50,50,50,0.5);
}

/* main */
#main {
    position: absolute;right: 0;
    left: 185px;
    float: left;
}
